---
_comments:
  sounds: >-
    Add remove and update SoundCloud tracks.<br>Extract only the ID from the
    Embed code<br>provided by Soundcloud<br>not the full Embed code.<br>You can
    add an optional description.
layout: page
title: Audio
permalink: /audio/
main_image_path: /uploads/audio-lg.jpg
sounds:
  - audioid: '341450362'
    description: 'Ali Pretty, Artistic Director & Designer'
  - audioid: '341322267'
    description: 'Eileen Russell, Disarmament activist'
  - audioid: '341449800'
    description: 'Interview with Shona Barr, Peace woman'
  - audioid: '341443013'
    description: Claire Burdett talks about growing up on the Common
  - audioid: '341445608'
    description: 'Allan Mercado, a former RAF gunner'
  - audioid: '341448954'
    description: 'Interview with Di Harney, Peace Woman'
  - audioid: '341149388'
    description: Interview with Lynette Edwell & Peace Women
  - audioid: '341143638'
    description: 'Interview with Penny Stokes, Author'
  - audioid: '340872244'
    description: 'Interview with Angela Logue, ex Caterer'
  - audioid: '342466392'
    description: Interview with Stephen Wisdom Civil War Historian
  - audioid: '342469326'
    description: Interview with rage group re-enactor at GreenhamWP17
images:
  - image_path: /uploads/sutton taylor2.jpg
    description: Sutton Taylor
  - image_path: /uploads/wally keeler2.jpg
    description: Wally Keeler
  - image_path: /uploads/sutton taylor.jpg
    description: Sutton Taylor in his studio
  - image_path: /uploads/mo jupp2.jpg
    description: Mo Jupp in Oxford
---

<section class="project-intro editable"><p>Fete Day is a creative production company producing arts, cultural and heritage projects across the UK.</p></section>

{% if page.sounds %}

    {% for sound in page.sounds %}
      {% if sound.audioid %}
          {% include soundcloud.html id=sound.audioid %}
        {% if sound.description %}
          <p class="description">{{ sound.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}

{% endif %}
