---
layout: page
title: Video
permalink: /video/
main_image_path: /uploads/landing-lights-shutterstock-172828403.jpg
videos:
  - videoid: rDkat7hsfbA
    video_type: youtube
  - videoid: 151827190
    video_type: vimeo
  - videoid: 228801970
    video_type: vimeo
images:
  - image_path: /uploads/sutton taylor2.jpg
    description: Sutton Taylor
  - image_path: /uploads/wally keeler2.jpg
    description: Wally Keeler
  - image_path: /uploads/sutton taylor.jpg
    description: Sutton Taylor in his studio
  - image_path: /uploads/mo jupp2.jpg
    description: Mo Jupp in Oxford
---

<section class="project-intro editable"><p>Fete Day is a creative production company producing arts, cultural and heritage projects across the UK.</p></section>

{% if page.videos %}

		{% for video in page.videos %}
	    {% if video.videoid %}
	    	{% if video.video_type == 'youtube' %}
	    		{% include youtubeplayer.html id=video.videoid %}
	    	{% else %}
					{% include vimeoplayer.html id=video.videoid %}
	    	{% endif %}
	    {% endif %}
		{% endfor %}

{% endif %}
