---
_comments:
  videos: >-
    Add remove and update videos.<br>Video must be from YouTube or
    Vimeo<br>Extract only the ID, not the full sharing code.<br>You can add an
    optional description.
layout: page
title: Video
permalink: /video/
main_image_path: /uploads/video-lg.jpg
videos:
  - videoid: 232315612
    videotype: Vimeo
    description:
  - videoid: '174964631'
    videotype: Vimeo
    description: test
images:
  - image_path: /uploads/sutton taylor2.jpg
    description: Sutton Taylor
  - image_path: /uploads/wally keeler2.jpg
    description: Wally Keeler
  - image_path: /uploads/sutton taylor.jpg
    description: Sutton Taylor in his studio
  - image_path: /uploads/mo jupp2.jpg
    description: Mo Jupp in Oxford
---

<section class="project-intro editable"><p>Fete Day is a creative production company producing arts, cultural and heritage projects across the UK.</p></section>

{% if page.videos %}

		{% for video in page.videos %}
	    {% if video.videoid %}
	    	{% if video.videotype == 'YouTube' %}
	    		{% include youtubeplayer.html id=video.videoid %}
	    	{% else %}
					{% include vimeoplayer.html id=video.videoid %}
	    	{% endif %}
	    	{% if video.description %}
	    		<p class="description">{{ video.description }}</p>
	    	{% endif %}
	    {% endif %}
		{% endfor %}

{% endif %}
